doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Gift Dibs
    body 
        h1 - - 
        p Your Groups:
        ul 
            each group in groups 
                li 
                    a(href="/group/"+group.uid) #{group.name}