doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Invites
    body 
        p You've been invited to
        ul 
            -var i = 0
            while i < invites.length 
                -var invite = invites[i]
                li 
                    a(href="/accept/"+invite.group_id) #{invite.name}
                    | by #{invite.invitee.username}
                    br
                    | #{invite.description}
                -var i = i + 1